body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

p {
    position: absolute;
    font-size: 3.5vh;
    font-family: Amatic SC, serif;
    color: white;
    opacity: 0;
    display: none;
}

p:nth-of-type(10), p:nth-of-type(11), p:nth-of-type(12), p:nth-of-type(13) {
    color: #333333;
}

p:nth-of-type(1), p:nth-of-type(20) {
    top: 10vh;
}

p:nth-of-type(2), p:nth-of-type(6), p:nth-of-type(10), p:nth-of-type(14), p:nth-of-type(16), p:nth-of-type(21), p:nth-of-type(26) {
    top: 15vh;
}

p:nth-of-type(3), p:nth-of-type(7), p:nth-of-type(11), p:nth-of-type(15), p:nth-of-type(17), p:nth-of-type(22), p:nth-of-type(27) {
    top: 20vh;
}

p:nth-of-type(4), p:nth-of-type(8), p:nth-of-type(12), p:nth-of-type(18), p:nth-of-type(23), p:nth-of-type(28) {
    bottom: 20vh;
}

p:nth-of-type(5), p:nth-of-type(9), p:nth-of-type(13), p:nth-of-type(19), p:nth-of-type(24), p:nth-of-type(29) {
    bottom: 15vh;
}

p:nth-of-type(25) {
    bottom: 10vh;
}

p:nth-of-type(30) {
    bottom: 5vh;
}

h1 {
    font-size: 5em;
    font-family: Amatic SC, serif;
    color: #333333;
    opacity: 0;
    display: none;
}

#transition {
    position: absolute;
    width: 110vw;
    height: 110vh;
    background-color: black;
    opacity: 0;
    display: none;
}

.story {
    height: 33vh;
    display: none;
}